/* basis */
:root {
  
  --btn-orange: #cc9933;
  --btn-orange-hover: #cc9933;
  --btn-orange-focus: #cc9933;
  --btn-orange-active: #a47312;
  --text-mute: #666666;
  --text-mute-hover: #cc9933;
  --text-mute-focus: #cc9933;
  --text-mute-active: #a47312;
  --link-orange: #cc9933;
  --link-orange-hover: #f0bf5f;
  --link-orange-focus: #cc9933;
  --link-orange-active: #a47312;
  --grey: #666666;
  --white: #fff;

  --font-sm: 16px;
  --font-md: 20px;
  --font-lg: 40px;

    --gap: 22px;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"), url("../fonts/MullerBold.woff") format("woff"),
    url("../fonts/MullerBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: local("Muller-Light"), url("../fonts/MullerLight.woff") format("woff"),
    url("../fonts/MullerLight.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegular.woff") format("woff"),
    url("../fonts/MullerRegular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"), url("../fonts/MullerMedium.woff") format("woff"),
    url("../fonts/MullerMedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  padding: 30px 0;
  color: var(--black);
  font-family: "Muller", sans-serif;
  font-weight: 400;
  font-size: var(--font-sm);
  line-height: 32px;
  background: #f1f1f1;
}
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.btn {
  background: transparent;
  padding: 13px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--btn-orange);
  border: 1px solid var(--btn-orange);
  transition: color 0.2s ease-in-out;
}
.btn:hover {
  background: var(--btn-orange-hover);
  color: var(--white);
  border: 1px solid var(--btn-orange-hover);
}
.btn:focus {
  background: var(--btn-orange-focus);
  color: var(--white);
  border: 1px solid var(--btn-orange-focus);
}
.btn:active {
  color: var(--white);
  background: var(--btn-orange-active);
  border: 1px solid var(--btn-orange-active);
}
.title-h2 {
  margin-left: 40px;
  font-size: var(--font-lg);
  margin-bottom: 20px;
  color: #333333;
  font-weight: 400;
}
.title-h5 {
  display: inline-block;
  width: 100px;
  font-size: var(--font-sm);
  line-height: 20px;
}
.text-mute {
  color: #999;
  display: block;
  line-height: 16px;
  margin-bottom: 20px;
}
 
.text-link {
  display: block;
  color: var(--link-orange);
  line-height: 24px;
  transition: all 0.2s ease;
}
.text-link:hover {
  color: var(--link-orange-hover);
}
.text-link:active {
  color: var(--link-orange-active);
  border: 1px solid var(--link-orange-active);
}
text-link:focus {
  color: var(--link-orange-focus);
}
/* header --------------------------------------*/

.header__top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__left-top {
  display: flex;
  align-items: center;
}

.header__cabinet {
  margin-left: auto;
  color: var(--link-orange);
  padding-left: 30px;
  transition: color 0.3s ease-in-out;
}
.header__path {
  fill: var(--link-orange);
  transition: fill 0.3s ease-in-out;
}
.header__cabinet:hover {
  color: var(--link-orange-hover);
}
.header__cabinet:hover .header__path {
  fill: var(--link-orange-hover);
}
.header__cabinet:focus {
  color: var(--link-orange-focus);
  outline: 1px solid var(--link-orange-focus);
outline-offset: 5px;
} 
.header__cabinet:active {
  color: var(--link-orange-active);
}
 
.header__bottom {
  margin-top: 30px;
  padding: 14px 32px;
  background: var(--white);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  list-style: none;
  display: flex;
}
.header__item:not(last-child) {
  margin-right: 45px;
}
.header__link {
  color: var(--text-mute);
  transition: all 0.2s ease;
}
.header__contact {
  font-size: var(--font-md);
  color: var(--text-mute);
  margin-left: 30px;
  transition: all 0.2s ease;
}
.
.header__link:hover,
.header__contact:hover {
  color: var(--text-mute-hover);
}
.header__link:focus,
.header__contact:focus {
  color: var(--text-mute-focus);
  outline: 1px solid var(--link-orange-focus);
outline-offset: 5px;
}
.header__link:active,
.header__contact:active {
  color: var(--text-mute-active);
}

.header__btn:last-child {
  margin-left: 40px;
}
header,
section {
  margin-bottom: 70px;
}

/* Спецпредложения --------------------------------------*/

.offer__wrap {
  display: flex;
  justify-content: space-between;
}
.offer__left {
  flex-basis: 50%;
  flex-direction: column;
  display: flex;
  min-width: 573px;
  margin-right: 24px;
}
.offer__item {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 40px 45px;
  position: relative;
  border-radius: 15px;
  background-repeat: no-repeat;
  z-index: 999;
}
.offer__img-1 {
  background-image: url("./../images/offer-1.png");
}
.offer__img-2 {
  background-image: url("./../images/offer-2.png");
}
.offer__img-3 {
  background-image: url("./../images/offer-3.png");
}
.offer__gradient {
  background: linear-gradient(
    90deg,
    rgba(48, 64, 89, 0.84) -2.9%,
    rgba(53, 65, 83, 0) 65.7%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.offer__item:not(last-child) {
  margin-bottom: 24px;
}
.offer__item--big {
  justify-content: flex-end;
}
.offer__h2 {
  font-family: "Muller", sans-serif;
  font-weight: 700;
  color: var(--white);
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 20px;
}
.offer__h3 {
  font-family: "Muller", sans-serif;
  font-weight: 700;
  color: var(--white);
  font-size: var(--font-lg);
  line-height: 40px;
  margin-bottom: 20px;
}
.offer__price {
  color: var(--white);
  font-size: var(--font-md);
  display: block;
  margin: 0;
  margin-bottom: 20px;
}
.offer__price--lg {
   color: var(--white);
  font-size: 30px;
  line-height: 30px;
  display: block;
  margin: 0;
  margin-bottom: 47px;
}
.offer__link {
  line-height: 16px;
    display: flex;
  color: var(--link-orange);
  cursor: pointer;
  padding-right: 20px;
  transition: color 0.2s ease-in-out;
}

.icon--arrow-right {
  width: 30px;
  margin-left: 0;
  transition: all  0.2s ease-in-out;

}
.special__path {
  stroke: var(--link-orange);
}
.offer__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  outline: 1px solid var(--link-orange-focus);
  outline-offset: 5px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.offer__link:focus::before {
  opacity: 1;
}
.offer__link:hover {
  color: var(--link-orange-hover);
}
.offer__link:hover .icon {
  margin-left: 30px;
  stroke: var(--link-orange-hover);
 }
.offer__link:focus {
  color: var(--link-orange-focus);
} 
.offer__link:active {
  color: var(--white);
}
 
 
.offer__right {
  flex-basis: 50%;
  margin-left: 25px;
  position: relative;
  position: relative;
  background-repeat: no-repeat;
  border-radius: 15px;
  overflow: hidden;
  z-index: -1;
}

/* Преимущества --------------------------------------*/

.advantages__list {
 display: flex;
 flex-wrap: wrap;
  list-style: none;
}
.advantages__item { 
  margin-bottom: var(--gap);
  flex: 0 1 calc((100% - (var(--gap) * 3)) / 4);
  min-height: 276px;
  padding: 45px;
  border-radius: 15px;
  background: var(--white);
}
.advantages__item:not(:nth-child(4n)) {
  margin-right: var(--gap);
}
.advantages__card-img {
  width: 64px;
  height: 66px;
  margin-bottom: 10px;
}
.advantages__card-img-1 {
  background-image: url("./../images/bathtub.png");
}
.advantages__card-img-2 {
  background-image: url("./../images/hanger.png");
}
.advantages__card-img-3 {
  background-image: url("./../images/heating.png");
}
.advantages__card-img-4 {
  background-image: url("./../images/hotel-key.png");
}
.advantages__card-img-5 {
  background-image: url("./../images/parking.png");
}
.advantages__card-img-6 {
  background-image: url("./../images/reception.png");
}
.advantages__card-img-7 {
  background-image: url("./../images/security-box.png");
}
.advantages__card-img-8 {
  background-image: url("./../images/swimming-pool.png");
}

/* Размещение --------------------------------------*/

.accomodation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.accomodation__item {
  width: 374px;
  margin-bottom: 20px;
  position: relative;
  background: var(--white);
  border-radius: 15px;
}
.accomodation__item:last-child {
  display: flex;
  align-items: end;
  justify-content: center;
  background-image: url("./../images/accomodation-9.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}
.accomodation__img {
  height: 217px;
  width: 100%;
}
.accomodation__price-wrapper {
  padding: 32px 45px;
}
.accomodation__price {
  color: #999;
  line-height: 16px;
}
.accomodation__price b {
  font-family: "Muller", sans-serif;
  font-weight: 700;
  color: var(--black);
}
.accomodation__title {
  margin: 16px 0;
  line-height: 16px;
}
.rating {
  display: inline;
  float: right;
}
.accomodation__subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
  font-family: "Muller", sans-serif;
  font-weight: 500;
  padding-right: 20px;
  color: var(--white);
  font-size: var(--font-md);
  line-height: 40px;
  transition: all 0.2s ease-in-out;
}
.placing__path {
  width: 30px;
  transform: translateX(0);
  stroke: var(--white);
  transition: all 0.2s ease-in-out;
}
.accomodation__item:hover .accomodation__subtitle {
 color: var(--link-orange-hover);  
}
.accomodation__item:hover .placing__path {
  transform: translateX(10px);
  stroke: var(--link-orange-hover);
}

/* Услуги --------------------------------------*/

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.services__item {
  flex: 0 1 calc((100% - (var(--gap))) / 2);
  margin-bottom: 24px;
  background: var(--white);
  position: relative;
  height: 330px;
  border-radius: 15px;
}
.services__card-img {
  height: 165px;
}
.services__card-img-1 {
  background-image: url("./../images/service-1.png");
}
.services__card-img-2 {
  background-image: url("./../images/service-2.png");
}
.services__card-img-3 {
  background-image: url("./../images/service-3.png");
}
.services__card-img-4 {
  background-image: url("./../images/service-4.png");
}
.service__card-content {
  padding: 26px 45px;
}
.services__card-title {
  margin-left: auto;
  font-family: "Muller", sans-serif;
  font-weight: 500;
  color: var(--link-orange);
  font-size: var(--font-md);
  padding-right: 20px;
  background-image: url("./../images/arrow-right.png");
  background-position: right center;
  background-size: 12px 18px;
  background-repeat: no-repeat;
  fill: var(--link-orange);
  transition: all 0.2s ease-in-out;
}
.services__card-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  outline: 1px solid var(--link-orange-focus);
  outline-offset: 5px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.services__card-title:focus::before {
  opacity: 1;
}
.services__card-title:hover {
  color: var(--link-orange-hover);
  fill: var(--link-orange-hover);
}
.services__card-title:focus {
  color: var(--link-orange-focus);
  fill: var(--link-orange-focus);
}
.services__card-title:active {
  color: var(--link-orange-active);
  fill: var(--link-orange-active);
}
/* Хочу тур -------------------------------------------*/

.want-tour__block {
  border-radius: 15px;
  background: #e9e9e9;
  padding: 45px 40px;
}
.want-tour__block .title-h2 {
  margin-left: 0;
}
.form {
  border: none;
  border-radius: 15px;
}
.form__body {
  list-style: none;
  display: flex;
  background: var(--white);
  padding: 31px 26px;
  border-radius: 15px;
  justify-content: space-between;
}
.form__label {
  display: block;
  font-size: 12px;
  line-height: 12px;
}

.form__input {
  display: block;
  margin-top: 15px;
  font-size: var(--font-sm);
  border: none;
  border-bottom: 2px solid #e9e9e9;
}
.form__input[type="date"] {
  border: none;
}
.form__select {
  font-size: var(--font-sm);
  margin-top: 15px;
  border: none;
}

/* Контакт -------------------------------------------*/

.contact__content {
  border-radius: 15px;
  background: var(--white);
  display: flex;
  padding: 45px;
}
.contact__list {
  width: 370px;
}
.contact__item {
  padding: 25px 0;
  width: 370px;
  display: inline-block;
  border-bottom: 2px solid #e9e9e9;
  margin: 0;
}
.contact__item:first-child {
  padding: 0 0 25px 0;
}
.contact__item:last-child {
  margin-bottom: 45px;
}

.contact__paragraph,
.contact__desc {
  display: inline-block;
  list-style: none;
  line-height: 24px;
  width: 230px;
}
.contact__btn {
  padding: 27px 29.5px;
}
.contact__thumbnail {
  background-image: url("./../images/contact-thumbnail.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 15px;
  margin-left: 52px;
}

/* Footer --------------------------------------*/

.footer__content {
  background: #333333;
  position: relative;
  height: 341px;
  border-radius: 15px;
  color: var(--white);
  padding: 45px;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}
.footer__lototype {
  position: absolute;
  background: url("./../images/logotype.png");
  background-repeat: no-repeat;
  width: 256px;
  height: 256px;
  bottom: -26px;
  right: 176px;
}
.col-5 {
  width: 30%;
}
.col-6 {
  width: 35%;
  margin-left: 125px;
}
.col-5 .footer__paragraph {
  margin-bottom: 37px;
  line-height: 30px;
}
.col-6 .footer__paragraph {
  margin-bottom: 15px;
  line-height: 30px;
}
.footer__item {
  margin-bottom: 15px;
}

.col-2 {
  margin-left: auto;
}
.social__list {
  display: flex;
  flex-flow: column;
}
.social__item {
  display: inline;
  height: 25px;
  margin-bottom: 20px;
}
.social__link {
  height: 25px;
  width: 25px;
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.social__path {  
  fill: var(--text-mute);
  transition: all 0.2s ease-in-out;
}
.social__link:hover .social__path{
  fill: var(--text-mute-hover);
}
.social__link:focus .social__path{
  fill: var(--text-mute-focus);
}
.social__link:active .social__path{
  fill: var(--text-mute-active);
}
/* .social__link--tripadvisor {
  background-image: url(./../images/tripadvisor.svg);
}
.social__link--ok {
  background-image: url(./../images/ok.svg);
}
.social__link--vk {
  background-image: url(./../images/vk.svg);
} */
